<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Freelancer - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">HOME</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    
                    <li class="page-scroll">
                        <a href="#about">About</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">Portfolio</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Contact</a>
                    </li>
                    <li class="page-scroll">
                        <a href="http://shaunshapiro.wordpress.com">Blog</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    
                    <div class="intro-text">
                        <br/>
                        <br/>
                        <span class="name">Shaun Shapiro</span>
                        <hr class="star-light">
                        <br/>
                        <span class="skills">Web Developer</span>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </header>

    

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>Hey there! I'm a former construction engineer turned web developer. I got my BS in Civil Engineering a year and a half ago, worked in the industry for a year, and realized I preferred building apps over building bridges. Since then, I've taught myself to code using various online resources. I kicked this into high gear in May 2015 when I joined <a href="http://thefirehoseproject.com" target="_blank">The Firehose Project</a>, an online Ruby on Rails based bootcamp. I'm excited to know I'm following a true passion, and look forward to building something great with an awesome team! </p>
                </div>
                
                
            </div>
        </div>
    </section>


    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Projects and Code Samples</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 portfolio-item text-center">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/assets/game.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-3 portfolio-item text-center">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/assets/chess.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-3 portfolio-item text-center">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/assets/calculator.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-3 portfolio-item text-center">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/assets/apps.png" class="img-responsive" alt="">
                    </a>
                </div>              
                <!-- Next Project Here -->
            </div>
        </div>
    </section>


    <!-- Contact Section -->
    <section class="contact" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h2>Contact Me</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center"> 
                    <div class="email-link">                
                        <h3><a href="mailto:shaun.shapiro91@gmail.com?" target="_top">shaun.shapiro91@gmail.com</a></h3>
                    </div>           
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    
                    <div class="footer-col col-md-4 col-md-offset-4">
                        <h3>Find me here</h3>
                        <ul class="list-inline"> 
                            <li>
                                <a href="http://github.com/shaunshapiro" target="_blank">
                                    <img src="/assets/github.png"
                                </a>
                            </li>
                            <li>
                                <a href="http://linkedin.com/in/shaunshapiro" target="_blank">
                                    <img src="/assets/linkedin.png"
                                </a>
                            </li>
                            <li>
                                <a href="http://facebook.com/shaunshapiro" target="_blank">          
                                    <img src="/assets/facebook.png" />
                                </a>
                            </li>
                            <li>
                                <a href="http://shaunshapiro.wordpress.com" target="_blank">
                                    <img src="/assets/wordpress.png"
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
        
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>


    <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2><a href="http://feellikeplaying.herokuapp.com" target="_blank">Feel Like Playing</a></h2>
                            <hr class="star-primary">
                            <img src="/assets/game.png" class="img-responsive img-centered" alt="">
                            <p>An ongoing personal project that lists a random game from the <a href="http://giantbomb.com" target="_blank">GiantBomb.com</a> database. Uses bootstrap for the layout and JQuery to parse the API. Other gems used include Figaro and Gon for API key security.</p>
                            <ul class="list-inline item-details">
                                <li>Link:
                                    <strong><a href="http://feellikeplaying.herokuapp.com" target="_blank">feellikeplaying.herokuapp.com</a>
                                    </strong>
                                </li>
                                
                            </ul>
                            <button type="button" class="btn btn-primary btn-large" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Multiplayer Chess App - General Piece Logic</h2>
                            <hr class="star-primary">
                            <!--Leave formatting below as-is (without indenting) due to how prettify currently reads it -->
                            <pre class="prettyprint lang-rb">
                            #get piece's current (start) position

                            def current_pos
                                return arr = [pos_x, pos_y]
                            end

                            #check if a move is being made to a new position
                            def new_point?(end_point)
                                end_x, end_y = end_point
                                !(pos_x == end_x && pos_y == end_y) 
                            end

                            #check if current position is on board
                            def on_board?(end_point)
                                end_x, end_y = end_point
                                return false if pos_x < 0 || pos_x > 7
                                return false if pos_y < 0 || pos_y > 7
                                return false if end_x < 0 || end_x > 7
                                return false if end_y < 0 || end_y > 7
                                return true
                            end

                            def do_move!(pos_x, pos_y)
                                self.update_attributes(pos_x: pos_x, pos_y: pos_y)
                            end
                            </pre>
                            
                            <p>Wrote several common functions for a chess piece class, which were then applied to specific chess piece (king, knight etc) functions via Single Table Inheritance. This project was developed on an Agile team with fellow Firehose students. </p>
                            <ul class="list-inline item-details">
                                <li>Link to the Code:
                                    <strong><a href="https://github.com/Firehose-Team-Awesome/chess-game/pull/13/files" target="_blank">Common Piece Functions</a>
                                    </strong>
                                </li>
                                
                                <li>See more of my code for this project:
                                    <strong><a href="https://github.com/Firehose-Team-Awesome/chess-game/pulls?q=is%3Apr+author%3Ashaunshapiro+is%3Aclosed" target="_blank">My chess app pull requests</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Firehose Apps</h2>
                            <hr class="star-primary">
                            <img src="/assets/apps.png" class="img-responsive img-centered" alt="">
                            <p>Rails app clones developed during my time with <a href="http://thefirehoseproject.com" target="_blank">The Firehose Project.</a> Includes Splurty - a simple "quote" generator, Nomster - A Yelp clone, and Flixter - an education app similar to Udemy.</p>
                            <ul class="list-inline item-details">
                                <li>
                                    <strong><a href="http://splurty-shaun-shapiro.herokuapp.com" target="_blank">Splurty</a>
                                    </strong>
                                </li>
                                <li>
                                    <strong><a href="http://nomster-shaun-shapiro.herokuapp.com" target="_blank">Nomster</a>
                                    </strong>
                                </li>
                                <li>
                                    <strong><a href="http://flixter-shaun-shapiro.herokuapp.com" target="_blank">Flixter</a>
                                    </strong>
                                </li>
                            </ul>

                            <p> Some technologies used: Twitter Bootstrap, AWS, Heroku, Carrierwave, Stripe, Devise, Geocoder, Figaro, FactoryGirl, JQuery, and of course, Rails! </p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Reverse Polish Notation Calculator</h2>
                            <hr class="star-primary">
                            <script src="//repl.it/embed/BPGW/1.js"></script>
                            <p>This is a basic RPN Notation Calculator. It takes numeric input before taking an operator. 
                                Enter a number, a second number, and a valid operation (+ - * / ) to get a result. After that, you can continue to enter one new number followed by one new operation to continue performing operations. 
                                Press 'q' to exit the program. </p>
                            
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FUTURE PROJECTS HERE -->
    <!-- <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/safe.png" class="img-responsive img-centered" alt="">
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/submarine.png" class="img-responsive img-centered" alt="">
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->



    

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/freelancer.js"></script>

    <!-- Google Code Prettify -->
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

</body>

</html>
